.top_nav {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.top_nav div {
    flex: 1;
    height: 100%;
    font-size: 0.24rem;
    text-align: center;
    display: flex;
    align-items: center;
}
.top_nav div span {
    width: 100%;
    display: inline-block;
    border-right: 1px solid #ddd;
}
.top_nav .top_nav_check {
    color: #0377bb;
    border-bottom: 1px solid #0377bb;
}
.center {
    margin-bottom: 1rem;
}
.center .center_box {
    width: 100%;
}
.center .center_box .center_kong {
    display: none;
}
.center .center_box .center_kong img {
    width: 60%;
    display: block;
    margin: 0.4rem auto;
}
.center .center_box .center_list {

}
.center .center_box .center_list .list_box{
    padding: 0.3rem 0.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.3rem;
    border-bottom: 1px solid #ddd;
}
.foot {
    width: 100%;
    height: 1rem;
    font-size: 0.24rem;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    border-top: 1px solid #ddd;
    display: flex;
    background-color: #f2f2f2;
}
.foot div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot .iconfont {
    margin-bottom: 0.1rem;
    font-size: 0.4rem;
}
.foot .foot_check {
    color: #0377bb;
}
#mescroll {
	position: fixed;
	padding-bottom: 3rem;
}