.top {
    font-size: 0.28rem;
    height: 0.8rem;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    line-height: 0.8rem;
}
.top div {
    position: absolute;
    left: 0rem;
    top: 0rem;
    line-height: 0.8rem;
    padding-left: 0.2rem;
    font-size: 0.36rem;
}
.center .list {
    font-size: 0.28rem;
    line-height: 0.66rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 0.8rem;
    transition: height 0.2s linear;
}
.center .list .title {
    flex: 1;
    padding-left: 0.2rem;
    height: 0.8rem;
}
.center .list span {
    padding-right: 0.2rem;
}
.center .list .text {
    width: 100%;
    border-top: 1px dotted #ddd;
    padding: 0rem 0.2rem;
    height: 0rem;
    transition: height 0.5s linear;
}