.swiper-container {
    height: 2.8rem;
}
.swiper-container img {
    width: 100%;
}
.nav {
    width: 100%;
    height: 0.6rem;
    display: flex;
    color: #999;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ddd;
    justify-content:space-between;
    
}
.nav select {
    width: 20%;
    text-align: center;
    text-align-last: center;
    width:auto !important;
}
.nav span {
    /* padding-right: 0.1rem;
    border-right: 1px solid #f2f2f2; */
}
.nav div {
    font-size: 0.2rem;
    white-space: nowrap;
    color: #000;
}
.center {
    margin-bottom: 1rem;
}
.center .center_top {
    height: 0.8rem;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
    font-size: 0.34rem;
    border-bottom: 1px solid #ddd;
}
.center .center_box {
    width: 100%;
}
.center .center_box .center_kong {
    display: none;
}
.center .center_box .center_kong img {
    width: 60%;
    display: block;
    margin: 0.4rem auto;
}
.center .center_box .center_list {

}
.center .center_box .center_list .list_box {
    font-size: 0.24rem;
}
.center .center_box .center_list .list_box .list_box_top{
    padding: 0.2rem;
    padding-top: 0.4rem;
    display: flex;
}
.center .center_box .center_list .list_box .list_box_top .img {
    width: 16%;
}
.center .center_box .center_list .list_box .list_box_top .img img {
    width: 100%;
}
.center .center_box .center_list .list_box .list_box_top .text_box {
    flex: 1;
    margin-left: 0.2rem;
    position: relative;
}
.center .center_box .center_list .list_box .list_box_top .text_box .title {
    font-size: 0.3rem;
    line-height: 0.4rem;
}
.center .center_box .center_list .list_box .list_box_top .text_box .text {
    font-size: 0.24rem;
    line-height: 0.34rem;
}
.center .center_box .center_list .list_box .list_box_top .text_box .money {
    font-size: 0.3rem;
    line-height: 0.4rem;
    color: #fd6404;
}
.center .center_box .center_list .list_box .list_box_top .text_box .money span{
    float: right;
    color: #333;
}
.center .center_box .center_list .list_box .list_box_top .text_box .state {
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 0.1rem 0.2rem;
    background-color: #fd6404;
    color: #fff;
    border-radius: 0.05rem;
}
.center .center_box .center_list .list_box .list_box_bottom{
    padding: 0.2rem 0.2rem;
    border: 1px solid #ddd;
    line-height: 0.34rem;
}
.foot {
    width: 100%;
    height: 1rem;
    font-size: 0.24rem;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    border-top: 1px solid #ddd;
    display: flex;
    background-color: #f2f2f2;
}
.foot div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot .iconfont {
    margin-bottom: 0.1rem;
    font-size: 0.4rem;
}
.foot .foot_check {
    color: #0377bb;
}
#mescroll {
	position: fixed;
	padding-bottom: 4.2rem;
}