.logo {
    margin-top: 1.5rem;
}
.logo img {
    width: 4rem;
    display: block;
    margin: 0 auto;
}
.ipt {
    width: 90%;
    height: 1rem;
    margin: 0rem 0.2rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    font-size: 0.24rem;
}
.ipt div {
    flex: 1;
    padding: 0rem 0.4rem;
}
.ipt div em {
    float: right;
}
.ipt span:nth-child(0) {
    width: 0.26rem;
    height: 0.3rem;
    display: block;
}
.ipt span:nth-child(1) {
    /* width: 0.26rem; */
    height: 0.3rem;
    display: block;
}
.ipt input {
    flex: 1;
    padding: 0rem 0.4rem;
}
.radio {
    width: 90%;
    height: 1rem;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.24rem;
}
.radio div:first-child {
    margin-right: 0.2rem;
}
.radio .radio_check span {
    background-color: #0377bb;
}
.radio .radio_check span em {
    color: #fff;
}
.radio span {
    /* border-radius: 50%;
    border: 1px solid #ddd;
    width: 0.30rem;
    height: 0.30rem;
    display: inline-block;
    vertical-align: middle; */
}

.radio label:first-child {
    margin-right: 10px;
}
.radio label span {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    vertical-align: middle;
}
.radio label span img {
    width: 100%;
    height: 100%;
}
.radio label .radio_check {
    border: 1px solid #fff;
    background-color: #0377bb;
    color: #fff;
}
.radio label input{
    opacity: 0;
}
.btn {
    width: 80%;
    height: 0.64rem;
    background-color: #0377bb;
    border-radius: 0.1rem;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 0.64rem;
    letter-spacing: 4px;
    font-weight: 500;
    margin: 0.5rem auto;
    display: block;
}
.tishi {
    font-size: 0.24rem;
    text-align: center;
    margin-bottom: 0.6rem;
}
.tishi a {
    color: #0377bb
}
.xy {
	width:80%;
	font-size:0.24rem;
	color:#0377bb;
	text-align:center;
	margin:0 auto;
	margin-top:0.2rem;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.xy span {
	padding:0.1rem 0rem;
}
.xybj {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.xybox {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 100%;
    left: 0rem;
    background-color: #fff;
    transition: bottom 0.1s linear;
}
.xybox .none {
    text-align: right;
    font-size: 0.46rem;
    margin-right: 0.2rem;
}
.xybox iframe {
    display: block;
    width: 90%;
    height: 80%;
    margin: 0 auto;
}
.radio_xy {
    margin-top: 0.1rem;
    height: auto;
}
.radio_xy span{
    border-radius: 0%;
}
.text {
    margin: 0.2rem auto;
    font-size: 0.24rem;
    text-align: center;
}
.jnbj {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.jnbox {
    position: absolute;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    bottom: 100%;
    left: 0rem;
    background-color: #fff;
    transition: bottom 0.1s linear;
    font-size: 0.28rem;
}
.jnbox .li {
    width: 100%;
    padding: 0.3rem 0.1rem;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}
.jnbox .li .left {
    width: 20%;
    padding: 0.1rem 0rem;
}
.jnbox .li .right {
    width: 80%;
}
.jnbox .li .jnbtn {
    text-align: right;
}
.jnbox .li .right span {
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 0.1rem 0.045rem;
    border-radius: 0.05rem;
    margin-right: 0.05rem;
    margin-bottom: 0.1rem;
    position: relative;
    overflow: hidden;
}
.jnbox .li .right .jn_check {
    border-color: #0377bb;
    color: #0377bb;
}
.jnbox .li .right .jn_check em {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    background-color: #0377bb;
    color: #fff;
    width: 0.6rem;
    height: 0.6rem;
    transform: rotate(45deg) translateX(80%);
}
.jnbox .li .right .jn_check i {
    position: absolute;
    right: 0rem;
    bottom: 0.05rem;
    color: #fff;
    font-size: 0.16rem;
}
.iconfont {
    font-size: 0.34rem;
}
.ipt em {
	font-size: 0.28rem;
	color: #0377bb;
	font-style: normal;
	white-space: nowrap;
}
.ipt .yzm {
	color: #999;
}